<!DOCTYPE html>
<html>
<head>
    <title>梭哈</title>
    <meta charset="utf-8">
    <style type="text/css">
        .border{
            width:50px;
            margin-top:10px;
            margin-left:5px;
            margin-right:5px;
            margin-bottom:10px;
        }
    </style>
</head>
<body>
    <h1>請輸入您的牌</h1>
    <h4>請在每一欄中輸入一張牌的花色及數字</h4>
    <p>例如黑桃三為Ｓ3,梅花Ｋ為ＣＫ,愛心Ａ為ＨＡ。</p>
    <form action='compare.php' method='post'>
    <div>第一副牌</div>
    <input type='text' name='A' class='border'>
    <input type='text' name='B' class='border'>
    <input type='text' name='C' class='border'>
    <input type='text' name='D' class='border'>
    <input type='text' name='E' class='border'></br>
    <div>第二副牌</div>
    <input type='text' name='a' class='border'>
    <input type='text' name='b' class='border'>
    <input type='text' name='c' class='border'>
    <input type='text' name='d' class='border'>
    <input type='text' name='e' class='border'></br>
    <input type='submit' name='Submit' value='開始比較'/>
    <input type='reset' value='重新填寫'/>
    </form>
</body>
</html>